* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-color: #4caf4f;
  --white-color: #ffffff;
  --gray-color: #4d4d4d;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

html {
  font-family: "Inter", sans-serif;
}

header {
  background-color: #f5f7fa;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: calc(100% - 210px);
  margin: auto;
}

.logo {
  width: 154px;
  height: 24px;
  display: inline-block;
}

nav a {
  margin-right: 50px;
  text-decoration: none;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 24px;
}

.action-group a {
  text-decoration: none;
}

.signup-btn {
  display: inline-block;
  background-color: var(--green-color);
  padding: 10px 20px;
  color: var(--white-color);
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
}

.login-btn {
  color: #4caf4f;
  font-size: 14px;
  line-height: 20px;
  margin-right: 14px;
}
.banner-inner {
  padding: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f7fa;
}
h1 {
  font-size: 64px;
  line-height: 70px;
}
.b1 {
  font-weight: bold;
  color: #4d4d4d;
}
.b2 {
  font-weight: bold;
  color: green;
}
p {
  font-size: 16px;
  line-height: 24px;
  color: #717171;
  padding-top: 10px;
}
button {
  display: inline-block;
  background-color: green;
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 14px 32px;
  border-radius: 4px;
  margin-top: 10px;
  border: none;
}
/* .cham_c{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.cham{
    width: 10px;
    height: 10px;
    background-color: #61b16e;
    border-radius: 50%;
    margin: 0 5px;

}
.cham_chon{
    background-color: #4CAF4F;
} */
.banner {
  padding: 20px;
  max-width: 50%;
}
.banner_2 {
  width: 391px;
  height: 407px;
  display: flex;
}
.m1 {
  font-size: 36px;
  line-height: 44px;
  color: var(--gray-color);
}
.m2 {
  font-size: 16px;
  line-height: 24px;
}
.our_2 img {
  width: 48px;
  height: 48px;
  margin: 10px 70px;
  padding-top: 20px;
}
.clients-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}
.our_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}
.m3 {
  font-size: 36px;
  line-height: 44px;
  color: var(--gray-color);
}
.m4 {
  font-size: 16px;
  line-height: 24px;
}
.our_3 {
  padding-top: 20px;
  text-align: center;
}
.m5 {
  font-size: 28px;
  line-height: 36px;
  color: var(--gray-color);
}
.m6 {
  font-size: 14px;
  line-height: 20px;
}
.our_4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
}
.our_4 img {
  width: 65px;
  height: 56px;
}
.manage .our_4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}
.box1 h1 {
  font-size: 36px;
  line-height: 44px;
  color: var(--gray-color);
}
.box1 p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 16px;
}
.frame-inner img {
  width: 442px;
  height: 433px;
}

.frame-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 288px);
  margin: auto;
}
.box1 {
  width: 661px;
  height: 268px;
  gap: 32px;
}
.box1 button {
  margin-top: 32px;
}
.Achivements_left h1 {
  font-size: 36px;
  line-height: 44px;
}
.Achivements_left span {
  color: #4caf4f;
}
.Achivements_left p {
  font-size: 16px;
  line-height: 24px;
  color: #18191f;
}
.Achivements_logobox img {
  width: 48px;
  height: 48px;
  padding-right: 10px;
}
.Achivements_right h1 {
  font-size: 28px;
  line-height: 36px;
  color: #4d4d4d;
}
.Achivements_right p {
  font-size: 16px;
  line-height: 1px;
  color: #717171;
}
.Achivements_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  padding-left: 72px;
}
.Achivements_logobox {
  display: flex;
  align-items: center;
  padding: 30px 40px;
  gap: 6px;
}

.Achivements {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: calc(100% - 288px);
}
.Achivements_backroud {
  background-color: #f5f7fa;
}
.customer img {
  width: 326px;
  height: 326px;
}
.customer-frame img {
  width: 40px;
  height: 40px;
}

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: calc(100% - 288px);
  gap: 130px;
  padding-top: 40px;
}
.customer-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 41px;
  padding-top: 32px;
}
h3 {
  font-size: 20px;
  line-height: 28px;
  color: var(--green-color);
}
.customer-text p {
}
.customer-text h3 {
  padding-top: 16px;
}
.customer-text {
  padding-bottom: 8px;
}
.customer-background {
  background-color: #f5f7fa;
}

.marketing h1 {
  font-size: 36px;
  line-height: 44px;
  color: var(--gray-color);
}
.marketing p {
  font-size: 16px;
  line-height: 24px;
  color: #717171;
}
.text-marketing {
  text-align: center;
}
.marketing img {
  width: 368px;
  height: 286px;
  display: block;
}
.textbox1 h3 {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 16px;
  color: #717171;
}
.textbox1 a {
  font-size: 20px;
  line-height: 28px;
  color: #4caf4f;
  text-decoration: none;
  display: inline-block;
  padding: 8px 0;
}

.textbox1 {
  position: relative;
  top: -120px;
  width: 85%;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  background-color: #f5f7fa;
}
.imgbox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 40px auto;
  max-width: calc(100% - 288px);
  gap: 24px;
}
.imgbox1 {
  display: flex; /* Biến chính nó thành Flex cha để quản lý ảnh & text */
  flex-direction: column; /* Xếp ảnh ở trên, text ở dưới theo chiều dọc */
  align-items: center; /* CỰC QUAN TRỌNG: Căn ảnh và text vào chính giữa cột */
  width: 368px; /* Chiều rộng bằng đúng kích thước ảnh */
  position: relative; /* Làm điểm mốc cho các phần tử con dịch chuyển */
}
.footer-bottom{
  background-color: #263238;
}
.footer-text{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;

}
.footer-left {
  display: flex;
  gap: 40px; /* Khoảng cách giữa các khối nội dung */
}
.footertext1 h1 {
  font-size: 64px;
  line-height: 76px;
  color: #263238;
}
.footertext1{
  text-align: center;
  background-color: #F5F7FA;
  padding: 32px;
}
.logo-footer img{
  width: 191px;
  height: 29.67px;
}
.icon-mxh img{
  width: 32px;
  height: 32px;
}
.footer-left {
  display: flex;
  gap: 40px;
}
.icon-mxh{
  display: flex;
  gap: 16px;
  margin-top: 20px;
}
.footer-right {
  display: flex;
  gap: 80px; /* Khoảng cách giữa các cột Company, Support, Stay up to date */
}
.footer-right h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #F5F7FA;
}

.footer-right nav {
  list-style: none;
  padding: 0;
}

.footer-right nav a {
  display: block;
  margin-bottom: 12px;
}

.footer-right nav a {
  color: #F5F7FA;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}
.footer-right nav a:hover {
  color: #4CAF4F;
}
.email-box {
  position: relative;
  width: 255px;
}
.email-box input {
  width: 100%;
  padding: 10px 40px 10px 12px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  outline: none;
}
.copyright{
  padding: 10px;
}
